.icon-mail {
  width: 18px;
  height: 14px;
  stroke: $color-main;
  stroke-width: 2;
  
}

.icon-arrow-up {
  width: 35px;
  height: 18px;
  stroke: #ffffff;
  stroke-width: 1;
}

.cart-icon {
  width: 19px;
  height: 17px;
  fill: $color-icon-1;
}

.menu-icon {
  width: 21px;
  height: 21px;
  fill: $color-icon-2;
}

.search-prod-icon {
  width: 20px;
  height: 20px;
  fill: $color-bg-3;
}
.cart-prod-icon {
  width: 22px;
  height: 20px;
  fill: $color-bg-3;
}

.like-prod-icon {
  width: 22px;
  height: 18px;
  fill: $color-bg-3;
}

.arrow-category-icon {
  width: 6px;
  height: 10px;
}

.grid-icon {
  width: 16px;
  height: 16px;
  fill: $color-icon-1;
}

.list-icon {
  width: 24px;
  height: 22px;
  fill: $color-icon-1;
}
