<div class="features">
	<div class="features__items">
		<div class="features__item h">
			<div class="features__box features__box--support">
				<div class="features__title">Support 24/7.</div>
				<div class="features__text">Contact us 24 hours a day,
					7 days a week.</div>
			</div>
		</div>
		<div class="features__item">
			<div class="features__box features__box--delivery">
				<div class="features__title">Delivery.</div>
				<div class="features__text">Free shipping on all US order.</div>
			</div>
		</div>
		<div class="features__item">
			<div class="features__box features__box--payment">
				<div class="features__title">100% Payment secure.</div>
				<div class="features__text">We ensure secure payment
					with PEV.</div>
			</div>
		</div>
	</div>
</div>