<section class="modal">
  <div class="container">
    <form class="modal__form" action="#">
      <label class="modal__label">
        Username or email address *
        <input class="modal__input" type="text" required>
      </label>
      <label class="modal__label">
        Password *
        <input class="modal__input" type="password" required>
      </label>
      <button class="modal__btn" type="submit">Login</button>
      <div class="modal__inner">
        <div class="modal__checkbox">
          <input type="checkbox">
          <label class="modal__label--checkbox">Remember me</label>
        </div>
        <a href="#" class="modal__link">
          Lost your password?
        </a>
      </div>
      <div class="modal__wrapper">
        <a href="#" class="modal__link">
          Not registered? No problem
        </a>
      </div>
      <button class="modal__btn modal__btn--outline" type="submit">Create an account</button>
    </form>
  </div>
</section>