<div class="preview-articles__item">
  <div class="preview-articles__img-box">
    <img class="preview-articles__img" src="images/home-articles/home-articles-@img.jpg" alt="">
  </div>
  <div class="preview-articles__content">
    <div class="preview-articles__category">
      @category
    </div>
    <a class="preview-articles__link" href="#">
      <p class="preview-articles__text">
        @text
      </p>
    </a>
    <div class="preview-articles__info">
      <span class="preview-articles__date">
        @date
      </span>
      <span class="preview-articles__author">
        By @author
      </span>
    </div>
  </div>
</div>