<div class="product-item @class @category">
  <div class="product-item__img-box">
    <img class="product-item__img" src="images/products/products-@img-number.png" alt="product-1">
  </div>
  <div class="product-item__wrapper-box">
    <div class="product-item__info">
      <h4 class="product-item__title">@title</h4>
      <div class="product-item__stars"></div>
      <span class="product-item__price">@price</span>
    </div>
    <div class="product-item__content-box">
      <p class="product-item__text">
        consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
        minim veniam, quis nostrud exercitation
      </p>
      <div class="product-item__buttons">
        <button class="product-item__btn">
          <svg class="cart-prod-icon">
            <use xmlns="http://www.w3.org/2000/svg" xlink:href="images/sprite.svg#cart-icon-prod"></use>
          </svg>
        </button>
        <button class="product-item__btn">
          <svg class="like-prod-icon">
            <use xmlns="http://www.w3.org/2000/svg" xlink:href="images/sprite.svg#like-icon-prod"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div class="product-item__actions">
    <button class="product-item__search-btn icon-box" href="#">
      <svg class="product-item__search-icon search-prod-icon icon icon-center">
        <use xmlns="http://www.w3.org/2000/svg" xlink:href="images/sprite.svg#search-icon"></use>
      </svg>
    </button>
    <button class="product-item__cart-btn icon-box" href="#">
      <svg class="product-item__cart-icon cart-prod-icon icon icon-center">
        <use xmlns="http://www.w3.org/2000/svg" xlink:href="images/sprite.svg#cart-icon-prod"></use>
      </svg>
    </button>
    <button class="product-item__cart-btn icon-box" href="#">
      <svg class="product-item__cart-icon like-prod-icon icon icon-center">
        <use xmlns="http://www.w3.org/2000/svg" xlink:href="images/sprite.svg#like-icon-prod"></use>
      </svg>
    </button>
  </div>
</div>