<div class="shop__filters">
  <div class="filter__item filter-category">
    <h3 class="filter__title">Category</h3>
    <ul class="filter-category__list">
      <li class="filter-category__item"><a class="filter-category__link" href="#">Chair
          <svg class="filter-category__icon arrow-category-icon">
            <use xmlns="http://www.w3.org/2000/svg" xlink:href="images/sprite.svg#arrow-category"></use>
          </svg></a></li>
      <li class="filter-category__item"><a class="filter-category__link" href="#">Table<svg
            class="filter-category__icon arrow-category-icon">
            <use xmlns="http://www.w3.org/2000/svg" xlink:href="images/sprite.svg#arrow-category"></use>
          </svg></a></li>
      <li class="filter-category__item"><a class="filter-category__link" href="#">Lamp<svg
            class="filter-category__icon arrow-category-icon">
            <use xmlns="http://www.w3.org/2000/svg" xlink:href="images/sprite.svg#arrow-category"></use>
          </svg></a></li>
      <li class="filter-category__item"><a class="filter-category__link" href="#">Watch<svg
            class="filter-category__icon arrow-category-icon">
            <use xmlns="http://www.w3.org/2000/svg" xlink:href="images/sprite.svg#arrow-category"></use>
          </svg></a></li>
      <li class="filter-brands__item"><a class="filter-category__link" href="#">Clock<svg
            class="filter-category__icon arrow-category-icon">
            <use xmlns="http://www.w3.org/2000/svg" xlink:href="images/sprite.svg#arrow-category"></use>
          </svg></a></li>
    </ul>
  </div>
  <div class="filter__item filter-price">
    <h3 class="filter__title">Price</h3>
    <form class="filter-price__form" action="#"></form>
    <input class="filter-price__input" type="text" value="" data-type="double" data-min="0" data-max="1000"
      data-from="100" data-to="500">
    <label class="filter-price__label" for="">
      <div class="filter-price__inner">
        <i>
          $<span class="filter-price__from"></span>
        </i>
        <i>
          $<span class="filter-price__to"></span>
        </i>
      </div>
    </label>
  </div>
  <div class="filter__item filter-brands">
    <h3 class="filter__title">Brand</h3>
    <form class="filter-brands__form" action="#">
      <label class="filter-brands__label">
        <input class="filter-brands__input" type="checkbox">
        <div class="filter-brands__checkbox">
          <span>RFL</span>
          <span>(10)</span>
        </div>
      </label>
      <label class="filter-brands__label">
        <input class="filter-brands__input" type="checkbox">
        <div class="filter-brands__checkbox">
          <span>Brothers</span>
          <span>(21)</span>
        </div>
      </label>
      <label class="filter-brands__label">
        <input class="filter-brands__input" type="checkbox">
        <div class="filter-brands__checkbox">
          <span>Regal</span>
          <span>(3)</span>
        </div>
      </label>
      <label class="filter-brands__label">
        <input class="filter-brands__input" type="checkbox">
        <div class="filter-brands__checkbox">
          <span>Nadia</span>
          <span>(14)</span>
        </div>
      </label>
      <label class="filter-brands__label">
        <input class="filter-brands__input" type="checkbox">
        <div class="filter-brands__checkbox">
          <span>Otobi</span>
          <span>(6)</span>
        </div>
      </label>
    </form>
    <div class="stars" data-rateyo-rating="4"></div>
  </div>
  <div class="filter__item filter-recent-products">
    <h3 class="filter__title">Recent products</h3>
    <ul class="filter-recent-products__list">
      <li class="filter-recent-products__item">
        <div class="filter-recent-products__img-box">
          <img class="filter-recent-products__img" src="images/products/prod-small-1.png" alt="product-1">
        </div>
        <div class="filter-recent-products__content">
          <h4 class="filter-recent-products__title">Pendant lamp</h4>
          <div class="filter-recent-products__stars"></div>
          <span class="filter-recent-products__price">23$</span>
        </div>
      </li>
      <li class="filter-recent-products__item">
        <div class="filter-recent-products__img-box">
          <img class="filter-recent-products__img" src="images/products/prod-small-2.png" alt="product-1">
        </div>
        <div class="filter-recent-products__content">
          <h4 class="filter-recent-products__title">Pendant lamp</h4>
          <div class="filter-recent-products__stars"></div>
          <span class="filter-recent-products__price">23$</span>
        </div>
      </li>
      <li class="filter-recent-products__item">
        <div class="filter-recent-products__img-box">
          <img class="filter-recent-products__img" src="images/products/prod-small-3.png" alt="product-1">
        </div>
        <div class="filter-recent-products__content">
          <h4 class="filter-recent-products__title">Pendant lamp</h4>
          <div class="filter-recent-products__stars"></div>
          <span class="filter-recent-products__price">23$</span>
        </div>
      </li>
    </ul>
  </div>

  

</div>