<div class="statistic">
    <div class="container">
      <ul class="statistic__items">
        @loop('./_statistic__item.html', [
          {'number': '99%', 'subtitle': 'Satisﬁed Clients Rate', 'class': 'statistic__item--1'},
          {'number': '5020+', 'subtitle': 'Products Delivered', 'class': 'statistic__item--2'},
          {'number': '23hr', 'subtitle': 'Daily Working Time', 'class': 'statistic__item--3'},
          {'number': '140+', 'subtitle': 'Brands in Store', 'class': 'statistic__item--4'}
        ])
      </ul>
    </div>
</div>