<div class="home-top-slider">
  <div class="home-top-slider__inner">
    <div class="home-top-slider__item">
      <div class="home-top-slider__box">
        <div class="home-top-slider__content">
          <div class="home-top-slider__title">Smart and trendy</div>
          <div class="home-top-slider__text">
            Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
          </div>
          <a class="home-top-slider__btn" href="#">Shop Now

          </a>
        </div>
        <div class="home-top-slider__img-box">
          <img class="home-top-slider__img" src="images/home-top-slider/home-top-slider-1.png" alt="sofa">
        </div>
      </div>
    </div>
    <div class="home-top-slider__item">
      <div class="home-top-slider__box">
        <div class="home-top-slider__content">
          <div class="home-top-slider__title">Smart and trendy</div>
          <div class="home-top-slider__text">
            Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
          </div>
          <a class="home-top-slider__btn" href="#">Shop Now

          </a>
        </div>
        <div class="home-top-slider__img-box">
          <img class="home-top-slider__img" src="images/home-top-slider/home-top-slider-1.png" alt="sofa">
        </div>
      </div>
    </div>
    <div class="home-top-slider__item">
      <div class="home-top-slider__box">
        <div class="home-top-slider__content">
          <div class="home-top-slider__title">Smart and trendy</div>
          <div class="home-top-slider__text">
            Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
          </div>
          <a class="home-top-slider__btn" href="#">Shop Now

          </a>
        </div>
        <div class="home-top-slider__img-box">
          <img class="home-top-slider__img" src="images/home-top-slider/home-top-slider-1.png" alt="sofa">
        </div>
      </div>
    </div>
  </div>
</div>