<header class="header">
  <nav class="header__nav">

    <a class="logo" href="/">
      <img class="logo__img" src="images/logo.png" alt="logo">
    </a>

    <ul class="header__list">
      <li class="header__item">
        <a class="header__link " href="#">Home +</a>
      </li>
      <li class="header__item">
        <a class="header__link" href="about.html">About</a>
        
      </li>
      <li class="header__item">
        <a class="header__link" href="#">Services</a>
      </li>
      <li class="header__item">
        <a class="header__link" href="#">Pages +</a>
        <ul class="dropdown">
          <li class="dropdown__item"><a class="dropdown__link" href="about.html">About</a></li>
          <li class="dropdown__item"><a class="dropdown__link" href="blog.html">Blog</a></li>
          <li class="dropdown__item"><a class="dropdown__link" href="blog-post.html">Blog Post</a></li>
          <li class="dropdown__item"><a class="dropdown__link" href="contact.html">Contact</a></li>
          <li class="dropdown__item"><a class="dropdown__link" href="login.html">Login</a></li>
          <li class="dropdown__item"><a class="dropdown__link" href="shop.html">Shop</a></li>
          <li class="dropdown__item"><a class="dropdown__link" href="product.html">Product</a></li>
        </ul>
      </li>
      <li class="header__item">
        <a class="header__link" href="#">News</a>
      </li>
      <li class="header__item">
        <a class="header__link" href="#">Contact</a>
      </li>
    </ul>

    <div class="header__actions">
      <button class="header__search-btn icon-box" href="#">
        <svg class="header__search-icon search-icon icon icon-center">
          <use xmlns="http://www.w3.org/2000/svg" xlink:href="images/sprite.svg#search-icon"></use>
        </svg>
      </button>
      <div class="header__actions-group">
        <a class="header__like-link" href="#">
          <svg class="header__like-icon like-icon icon">
            <use xmlns="http://www.w3.org/2000/svg" xlink:href="images/sprite.svg#like-icon"></use>
          </svg>
          <span class="header__like-num">0</span>
        </a>
        <a class="header__cart-link" href="#">
          <svg class="header__cart-icon cart-icon icon">
            <use xmlns="http://www.w3.org/2000/svg" xlink:href="images/sprite.svg#cart-icon"></use>
          </svg>
          <span class="header__cart-num">10</span>
        </a>
      </div>
      <button class="header__menu icon-box" href="#">
        <svg class="header__menu-icon menu-icon icon icon-center">
          <use xmlns="http://www.w3.org/2000/svg" xlink:href="images/sprite.svg#menu-icon"></use>
        </svg>
      </button>
    </div>

  </nav>
</header>